body{
	margin: 0;
	padding: 0;
	background: #2d3436;
}

nav.menu-nav ul li.btn a {
	color: white ;
	background-color: #667eea;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	position: relative;
	margin: 10px;

}

nav.menu-nav ul li.btn a:before,
nav.menu-nav ul li.btn a:after {
	content: '';
	position: absolute;
	width: 20px;
	height: 3px;
	background-color: inherit;
	transition: .5s;
}

nav.menu-nav ul li.btn a:before{
left: 0;
top: -5px;
}

nav.menu-nav ul li.btn a:after{
	right: 0;
	bottom: -5px;
}

nav.menu-nav ul li.btn a:hover:before,
nav.menu-nav ul li.btn a:hover:after{
	width: 100%;
}

nav.menu-nav ul li.btn {
	display: inline-block;
	list-style-type: none ;
}

div.b-img-c cf{
	position: relative;
	bottom: 
	left: 120px;
}